

<div class="container">
    <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #bookForm="ngForm">

        <div class="form-group">
           <p> {{newBookDetail.title}}</p>
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title"  name="title" #title="ngModel"  [(ngModel)]="newBookDetail.title"  required>
         
          <div [hidden]="title.valid || title.pristine"
                class="alert alert-danger">
            Title is required
          </div>

        </div>

        <!-- body -->

        <div class="form-group">
           <p> {{newBookDetail.body}}</p>
            <label for="body">Body</label>
            <input type="text" class="form-control" id="title"  name="body" #body="ngModel"  [(ngModel)]="newBookDetail.body"  required>
           
            <div [hidden]="body.valid || body.pristine"
                  class="alert alert-danger">
              Body is required
            </div>
  
          </div>

        <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Submit</button>
    </form>

</div>
</div>
